<nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="#"> <img class="image" [src]='urlImg'  alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Inicio</a>
        <a class="nav-item nav-link" href="#">Quien soy</a>
        <a class="nav-item nav-link" href="#">Contacto</a>
      </div>
    </div>
  </nav>