
.container-fluid {
    padding: 0;
}


.hero {
    background: url(../../../assets/laptop.jpeg), linear-gradient(rgba(5, 7, 4, 0.747), rgba(5, 7, 4, 0.747) );
    height: 100vh;
    min-height: 70vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}