<div class="progress-container">


    <div class="title-h2">
        <h2>Habilidades técnicas </h2>
    </div>

<div class="color-progress-container">
    <div class="progress-title">
        <h3>TYPESCRIPT</h3>
    </div>
    <div class="progress">
        <div class="progress-bar " role="progressbar" aria-label="Success example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>

      <div class="progress-title">
        <h3>JAVASCRIPT</h3>
    </div>
      <div class="progress">
        <div class="progress-bar " role="progressbar" aria-label="Info example" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>

      <div class="progress-title">
        <h3>CSS</h3>
    </div>
      <div class="progress">
        <div class="progress-bar " role="progressbar" aria-label="Warning example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
     </div>

     <div class="progress-title">
        <h3>HTML</h3>
    </div>
      <div class="progress">
        <div class="progress-bar " role="progressbar" aria-label="HTML" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
      </div>
      </div>


      
</div>
<div class="about-me">
   <div class="about-me text studies">
        <h3 class="h3-about">Estudios</h3>
        <p> <b>2014-2021</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p> <b>2021-2023</b> Lorem ipsum dolor sit amet consectetur quas laborum vitae! Inventore porro aspernatur ullam. </p>
    </div>
    <div class="about-me text experience">
        <h3 class="h3-about">Experiencia Laboral</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione iste illum porro consectetur ex harum ea. Illum molestias quis tempora voluptatum accusantium? Alias accusamus ea, repudiandae magnam iste repellendus ratione!</p>
    </div>
